@import "assets/scss/utils/_module";

.wrapper {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 62%;
    z-index: -1;
    background-image: url("../../assets/img/Ellipse.svg");
    height: 987px;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
  }
}


.cover {
  margin: 89px auto;
  max-width: 826px;
  padding-left: 30px;
  padding-right: 30px;
}

.title {
  position: relative;
  display: inline-flex;
}


.titleObjects {
  right: -195px;
  top: 65px;
  position: absolute;

  @media (max-width: $mobile) {
    right: -74px;
    top: 15px;
  }
}

.icon1 {
  width: 43px;

  @media (max-width: $mobile) {
    width: 17px;
  }
}

.icon2 {
  width: 88px;
  margin-top: -65px;
  margin-left: -15px;

  @media (max-width: $mobile) {
    width: 35px;
    margin-top: -25px;
    margin-left: -5px;
  }
}

.buttonGroup {
  gap: 23px;
  max-width: 790px;
  margin: 49px auto 34px;
}

.appLinks {
  margin-bottom: 30px;
  column-gap: 30px;
}

@media (max-width: 1024px) {
    .buttonGroup {
      flex-direction: column;
    }
}