.wrapper {
  position: relative;
}

.wrapper:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 62%;
  z-index: -1;
  background-image: url("../../assets/img/Ellipse.svg");
  height: 987px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.cover {
  margin: 89px auto;
  max-width: 796px;
}

.title {
  position: relative;
  display: inline-flex;
}


.titleObjects {
  right: -202px;
  top: 30px;
  position: absolute;
}

.buttonGroup {
  column-gap: 23px;
  max-width: 790px;
  margin: 49px auto 34px;
}

.appLinks {
  margin-bottom: 30px;
  column-gap: 30px;
}