@import 'assets/scss/utils/_module';

.btn {
  display: inline-flex;
  align-items: center;
  background: none;
  border: 0;
  outline: none;
  height: 66px;
  cursor: pointer;
  padding: 0 20px;

  &-primary {
    position: relative;
    border: 2px solid transparent;
    border-radius: 8px;
    background: white;
    background-clip: padding-box;


    &:after {
      position: absolute;
      top: -2px; bottom: -2px;
      left: -2px; right: -2px;
      background:  linear-gradient(90.29deg, #5E5AFF 0%, #AD28FF 22.92%, #28E5FF 51.56%, #FF8F28 75.52%, #5E5AFF 100%);
      content: '';
      z-index: -1;
      border-radius: 8px;
    }
    span {
      @include font(20, 1, $blackColor, 400, 0, $AvenirNextLTPro);
      @include fluid-font(320px, 740px, 14px, 19px);
      @include fluid-font(744px, 1920px, 20px, 20px);
    }
  }

  &-block {
    flex: 1;
    justify-content: center;
    
    @media (max-width: 1023px) {
      flex: none;
    }
  }
}