@import 'assets/scss/utils/_module';

.btn {
  display: inline-flex;
  align-items: center;
  background: none;
  border: 0;
  outline: none;
  height: em(66);
  cursor: pointer;
  padding: 0 em(20);

  &-primary {
    position: relative;
    border: 2px solid transparent;
    border-radius: 8px;
    background: white;
    background-clip: padding-box;


    &:after {
      position: absolute;
      top: -2px; bottom: -2px;
      left: -2px; right: -2px;
      background:  linear-gradient(90.29deg, #5E5AFF 0%, #AD28FF 22.92%, #28E5FF 51.56%, #FF8F28 75.52%, #5E5AFF 100%);
      content: '';
      z-index: -1;
      border-radius: 8px;
    }
    span {
      @include font(20, 1, $blackColor, 600, 0, "K2D");
    }
  }

  &-block {
    flex: 1;
    justify-content: center;
    
    @media (max-width: 1023px) {
      flex: none;
    }
  }
}