:root {
  --baseFontSize: 16;
}

html {
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-size: 100/(1920/16)*1vw;

  @media (max-width: $xLarge) {
    font-size: 0.9vw;
  }

  @media (max-width: $small) {
    font-size: 1vw;
  }

  @media (max-width: $mobile) {
    font-size: 2vw;
  }

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji",  sans-serif;
  background: linear-gradient(136.71deg, rgba(119, 162, 227, 0.14) 13.48%, rgba(186, 158, 244, 0.14) 85.14%), #FFFFFF;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box
}

a {
  text-decoration: none
}

img {
  display: inline-block;
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto
}